# {{ ansible_managed }}
net:
  bindIp: 0.0.0.0
  ipv6: false
  maxIncomingConnections: 65536
  port: 27017

processManagement:
  fork: false

replication:
  oplogSizeMB: 1024
  replSetName: {{ hostvars[inventory_hostname]['tags.Group'] }}

security:
  authorization: disabled

storage:
  dbPath: /var/lib/mongodb
  engine: wiredTiger
  journal:
    enabled: true

systemLog:
  destination: file
  logAppend: true
  logRotate: rename
  path: /var/log/mongodb/mongod.log
