rs.initiate()
sleep(10000)
{% for host in mongodb_slaves %}
rs.add("{{ host }}:27017")
sleep(2000)
{% endfor %}
{% for host in mongodb_arbiters %}
rs.addArb("{{ host }}:27017")
sleep(2000)
{% endfor %}
printjson(rs.status())