{% for replset in db_replsets %}
[replset{{loop.index}}]
DBHOSTS = {% for host in replset.hosts %}{{ host }}:27017{% if not loop.last %},{% endif %}{% endfor %}

DBREPLSET = {{ replset.name }}
{% endfor %}
[default]
DBHOST = localhost
NAME = test