server {
    listen 80;
    listen [::]:80;
    server_name {{ app_server_name | lower }};

    access_log /var/log/nginx/app.access.log;
    error_log  /var/log/nginx/app.error.log;

    # Указываем кодировку отдаваемых страниц
    charset     utf-8;

    location / {
        proxy_pass          http://127.0.0.1:5000;
    }

}