#{{ ansible_managed }}
user {{ nginx_user }} {{ nginx_group }};
worker_processes {{ nginx_worker_processes }};
pid {{ nginx_pid_file }};
worker_rlimit_nofile {{ nginx_worker_rlimit_nofile }};

events {

{% for v in nginx_events_params %}
        {{ v }};
{% endfor %}

}

http {

{% for v in nginx_http_params %}
        {{ v }};
{% endfor %}

        include {{ nginx_conf_dir }}/conf.d/*.conf;

}
